

<div id="main">

    <!-- TOOLBAR: Above -->

    <!-- / TOOLBAR: Above -->

    <div id="container-1" class="container">

        <!-- NAVBAR: Left -->

        <!-- / NAVBAR: Left -->

        <div id="container-2" class="container">

            <!-- TOOLBAR: Below fixed -->

            <!-- / TOOLBAR: Below fixed -->

            <div id="container-3" class="container" >

                <!-- TOOLBAR: Below static -->

                <!-- / TOOLBAR: Below static -->

                <!-- CONTENT -->
                <content></content>
                <!-- / CONTENT -->

                <!-- FOOTER: Below static -->

                <!-- / FOOTER: Below static -->

            </div>

            <!-- FOOTER: Below fixed -->

            <!-- / FOOTER: Below fixed -->

        </div>

        <!-- NAVBAR: Right -->

        <!-- / NAVBAR: Right -->

    </div>

    <!-- FOOTER: Above -->

    <!-- FOOTER: Above -->

</div>

<!-- SIDE PANEL -->
<ng-container >

    <!-- PANEL CONTENT -->

</ng-container>
<!-- / SIDE PANEL -->

<!-- QUICK PANEL -->

<!-- / QUICK PANEL -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->

<!-- / RIGHT NAVBAR -->
