@import 'projects/app1/src/assets/scss/theme/variable';
$primary: #c0882f;
$secondary: #595959;
$dark: #BF862D;
$light:#ECC878;
@import 'projects/app1/src/assets/scss/theme/style';
@import 'projects/app1/src/assets/scss/theme/responsive';
@import 'projects/app1/src/assets/scss/theme/customize';
