@import 'projects/gatling/src/assets/scss/theme/variable';
$primary: #000;
$secondary: #000;
$dark: #000;
$light:#000;
@import 'projects/gatling/src/assets/scss/theme/style';
@import 'projects/gatling/src/assets/scss/theme/responsive';
@import 'projects/gatling/src/assets/scss/theme/customize';
