@import 'projects/gatling/src/assets/scss/theme/variable';
$primary: #774ddd;
$secondary: #434345;
$dark:#6851DF;
$light:#BA38D2;
@import 'projects/gatling/src/assets/scss/theme/style';
@import 'projects/gatling/src/assets/scss/theme/responsive';
@import 'projects/gatling/src/assets/scss/theme/customize';
