@import 'projects/gatling/src/assets/scss/theme/variable';
$primary: #e3154f;
$secondary: #321575;
$dark: #e3154f;
$light:#321575;
@import 'projects/gatling/src/assets/scss/theme/style';
@import 'projects/gatling/src/assets/scss/theme/responsive';
@import 'projects/gatling/src/assets/scss/theme/customize';
