@import 'projects/gatling/src/assets/scss/theme/variable';
$primary: #844adb;
$secondary: #071828;
$dark:#5E57EA;
$light:#9647DB;
@import 'projects/gatling/src/assets/scss/theme/style';
@import 'projects/gatling/src/assets/scss/theme/responsive';
@import 'projects/gatling/src/assets/scss/theme/customize';
