<app-ecommerce-header></app-ecommerce-header>
<!-- breadcrumb section start -->
<section class="breadcrumb-section-main inner-2 breadcrumb-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain ">
                        <div>
                            <h2 class="breadcrumb-txt">Login</h2>
                        </div>
                        <div>
                            <ul>
                                <li><a href="javascript:void()">Login</a></li>
                                <li><a href="javascript:void()"><i class="fa fa-angle-double-right"></i>Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- section start -->
<section class="login-page section-b-space">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h3>Login</h3>
              <div class="theme-card">
                  <form class="theme-form" *ngIf="!isLoggedIn"
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate>
                      <div class="form-group">
                          <label>Username</label>
                          <input type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        #username="ngModel" placeholder="Enter your username">
                      </div>
                      <div class="form-group">
                          <label for="review">Password</label>
                          <input  type="password"
                                  class="form-control"
                                  name="password"
                                  [(ngModel)]="form.password"
                                  required
                                  minlength="6"
                                  #password="ngModel"  id="review" placeholder="Enter your password" required="">
                      </div>
                        <button class="btn btn-primary btn-block">
                          Login
                        </button>
                  </form>
              </div>
          </div>
          <div class="col-lg-6 right-login">
              <h3>New Customer</h3>
              <div class="theme-card authentication-right">
                  <h6 class="title-font">Create An Account</h6>
                  <p>Sign up for a free account at our gym shop. Registration is quick and easy. It allows you to be able to order from our shop and buy a membership. To start shopping click register.</p>
                <button class="btn btn-success btn-block" [routerLink]="['/signup']">
                  Create an Account
                </button>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Section ends-->

