@import 'projects/members/src/assets/scss/theme/variable';
$primary: #bb425e;
$secondary: #595959;
$dark: #bb425e;
$light:#ECC878;
@import 'projects/members/src/assets/scss/theme/style';
@import 'projects/members/src/assets/scss/theme/responsive';
@import 'projects/members/src/assets/scss/theme/customize';
