@import 'projects/members/src/assets/scss/theme/variable';
$primary: #fb3b64;
$secondary: #071828;
$light: #071828;
$dark:#fb3b64;
@import 'projects/members/src/assets/scss/theme/style';
@import 'projects/members/src/assets/scss/theme/responsive';
@import 'projects/members/src/assets/scss/theme/customize';
