@import 'projects/members/src/assets/scss/theme/variable';
$primary: #223b7b;
$secondary: $white;
$dark: #213672;
$light:#2245a0;
@import 'projects/members/src/assets/scss/theme/style';
@import 'projects/members/src/assets/scss/theme/responsive';
@import 'projects/members/src/assets/scss/theme/customize';
