@import 'projects/members/src/assets/scss/theme/variable';
$primary: #10266b;
$secondary: #464545;
$dark: #04185B;
$light:#1F357D;
@import 'projects/members/src/assets/scss/theme/style';
@import 'projects/members/src/assets/scss/theme/responsive';
@import 'projects/members/src/assets/scss/theme/customize';
@import 'projects/members/src/assets/scss/theme/nav';
