@import 'projects/members/src/assets/scss/theme/variable';
$primary: $black;
$secondary: $black;
$dark: $black;
$light:#252525;
$font-awesome: FontAwesome;
@import 'projects/members/src/assets/scss/theme/style';
@import 'projects/members/src/assets/scss/theme/responsive';

