<section class="breadcrumb-section-main inner-2 breadcrumb-section-sm" xmlns="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-contain ">
          <div>
            <h2 class="breadcrumb-txt">Your account</h2>
          </div>
          <div><ul>
              <li class="nav-item">
                <a class="nav-link"></a>
              </li>

              <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
              </li>
          </ul>
            <ul>
              <li><a>Your account</a></li>
              <li><a><i class="fa fa-angle-double-right"></i>Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
