<div id="login" fxLayout="column" >


    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logo/gym.png">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" id="username" class="form-control" matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">username</mat-icon>
                  <mat-error *ngIf="form.get('username').hasError('required')">
                      Yor must provide a user name
                  </mat-error>
                  <mat-error *ngIf="form.get('username').hasError('minlength')">
                    Your username must be at least 4 characters long
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" id="password"
                           class="form-control" matInput formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error *ngIf="form.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button [disabled]="form.invalid"  mat-raised-button color="accent" class="submit-button" aria-label="LOG IN">
                  LOGIN
                </button>
              <mat-error *ngIf="isLoginFailed">
                Login failed: {{ errorMessage }}
              </mat-error>

            </form>

            <div class="separator">
            </div>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
          </div>
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'">Create an account</a>
            </div>

        </div>

    </div>

</div>

